<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cards Page</title>
</head>
<body>
<h1>CARDS</h1>
<p><b>Number of Cards: {{cards}}</b></p>
<img src="{{card1}}">
<img src="{{card2}}">
<img src="{{card3}}">
<img src="{{card4}}">
<img src="{{card5}}">
</body>

</html>